

html,
body, .ebook {
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    position: absolute;
    line-height: 1;                                /*设置行高*/
}


.bookcover,.title,.index{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    overflow: hidden;
}

body{
    background: #CCCC00;
}

.ebook{
    background: #FF0000;
}

.bookcover{
    background: #0000FF;
}


/*__________________________title______________________*/

.ebook .title_out {


    background: #222222;

    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;


}


.ebook .title_over{

    background: #626975;

    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;


}





/*_____________________________index________________________*/

.ebook .index_out{


    background: #C2C8D4;

    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;
}


.ebook .index_over{


    background: #8797B7;

    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}






/*_____________________________p中name________________________*/

.title_name {
    font-size: 5em;
    position: absolute;
    color:#FFFFFF;
    top:-15%;
    left:30%

}


.title_over_name {
    font-size: 5em;
    position: absolute;
    color:#000000;
    top:-15%;
    left:30%

}

.index_name {
    font-size: 5em;
    position: absolute;
    color:#555555;
    top:-15%;
    left:30%


}

.index_over_name {
    font-size: 5em;
    position: absolute;
    color:#000000;
    top:-15%;
    left:30%


}

/*__________________________________排版bookcover_____________________*/


#bookcover{
    position:absolute;
    height: 30%;
    width:  30%;
    left: 35%;
    top: 35%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;
}

/*_____________________________排版title______________________________*/

#title_1 {
    position:absolute;
    height: 20%;
    width:  20%;
    left:50%;
    top:50%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;
}

#title_2{
    position:absolute;
    height: 20%;
    width:  20%;
    left:10%;
    top: 10%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;
}





/*_________________________排版index_________________________*/

#t_1_index_1{
    height: 20%;
    width:  20%;
    position: absolute;
    left: 40%;
    top: 20%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}

#t_1_index_2{
    position: absolute;
    height: 20%;
    width:  20%;
    left: 40%;
    top: 40%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}


#t_2_index_1{
    position: absolute;
    height: 20%;
    width:  20%;
    left: 40%;
    top: 20%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}

#t_2_index_2{
    position: absolute;
    height: 20%;
    width:  20%;
    left: 40%;
    top: 40%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}

