

html,
body, .ebook {
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    position: absolute;
    line-height: 1;                                /*设置行高*/
}


.bookcover,.title,.index{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    overflow: hidden;
}



.bookcover{

    background-size: 100% 100% ;
    background-position: center;

    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}

/*__________________________title______________________*/

.ebook .title{

    background-size: 100% 100%;

    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;
}






/*_____________________________index________________________*/

.ebook .index{


    background-size: 100% 100%;

    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;
}







/*_____________________________p中name________________________*/

.title_name {

    position: absolute;
    left:30%;
    color:#FFFFFF;
    transition-property: all;
    transition-duration: 0.3s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.3s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.3s;
    -o-transition-property: all;
    -o-transition-duration: 0.3s;

}


.title_over_name {

    position: absolute;
    left:30%;
    color:#000000;
    transition-property: all;
    transition-duration: 0.3s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.3s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.3s;
    -o-transition-property: all;
    -o-transition-duration: 0.3s;

}

.index_name {

    position: absolute;
    left:30%;
    color:#555555;
    transition-property: all;
    transition-duration: 0.3s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.3s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.3s;
    -o-transition-property: all;
    -o-transition-duration: 0.3s;


}

.index_over_name {

    position: absolute;
    left:30%;
    color:#000000;
    transition-property: all;
    transition-duration: 0.3s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.3s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.3s;
    -o-transition-property: all;
    -o-transition-duration: 0.3s;


}

/*_________________________________introduction_______________________*/
.title > .introduction{
    text-align: center;
    text-transform: none;
    color: #FFFF99;
}



/*__________________________________排版bookcover_____________________*/


#bookcover{
    position:absolute;
    height: 30%;
    width:  30%;
    left: 35%;
    top: 35%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;
}


#bookcoverStart{
    position:absolute;
    height: 30%;
    width:  30%;
    left: 35%;
    top: 35%;
}

/*_____________________________排版title______________________________*/

#title_1 {
    position:absolute;
    height:20%;
    width:20%;
    left:19%;
    top:10%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;
}

#title_2{
    position:absolute;
    height:20%;
    width:20%;
    left:39.5%;
    top:10%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;
}

#title_3{
    position:absolute;
    height:20%;
    width:20%;
    left:60%;
    top:10%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;
}

#title_4{
    position:absolute;
    height:20%;
    width:20%;
    left:19%;
    top:40%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;
}

#title_5{
    position:absolute;
    height:20%;
    width:20%;
    left:39.5%;
    top:40%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;
}

#title_6{
    position:absolute;
    height:20%;
    width:20%;
    left:60%;
    top:40%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;
}

#title_7{
    position:absolute;
    height:20%;
    width:20%;
    left:19%;
    top:70%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;
}

#title_8{
    position:absolute;
    height:20%;
    width:20%;
    left:39.5%;
    top:70%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;
}

#title_9{
    position:absolute;
    height:20%;
    width:20%;
    left:60%;
    top:70%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;
}


/*_________________________排版index_________________________*/

#t_1_index_1{
    height: 30%;
    width:  30%;
    position: absolute;
    left: 15%;
    top: 30%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}

#t_1_index_2{
    position: absolute;
    height: 30%;
    width:  30%;
    left: 55%;
    top: 30%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}

#t_1_index_3{
    height: 30%;
    width:  30%;
    position: absolute;
    left: 15%;
    top: 65%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}

#t_1_index_4{
    position: absolute;
    height: 30%;
    width:  30%;
    left: 55%;
    top: 65%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}

#t_2_index_1{
    height: 30%;
    width:  30%;
    position: absolute;
    left: 15%;
    top: 30%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}

#t_2_index_2{
    position: absolute;
    height: 30%;
    width:  30%;
    left: 55%;
    top: 30%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}

#t_2_index_3{
    height: 30%;
    width:  30%;
    position: absolute;
    left: 15%;
    top: 65%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}

#t_2_index_4{
    position: absolute;
    height: 30%;
    width:  30%;
    left: 55%;
    top: 65%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}

#t_3_index_1{
    height: 30%;
    width:  30%;
    position: absolute;
    left: 15%;
    top: 30%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}

#t_3_index_2{
    position: absolute;
    height: 30%;
    width:  30%;
    left: 55%;
    top: 30%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}

#t_3_index_3{
    height: 30%;
    width:  30%;
    position: absolute;
    left: 15%;
    top: 65%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}

#t_3_index_4{
    position: absolute;
    height: 30%;
    width:  30%;
    left: 55%;
    top: 65%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}

#t_4_index_1{
    height: 30%;
    width:  30%;
    position: absolute;
    left: 15%;
    top: 30%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}

#t_4_index_2{
    position: absolute;
    height: 30%;
    width:  30%;
    left: 55%;
    top: 30%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}

#t_4_index_3{
    height: 30%;
    width:  30%;
    position: absolute;
    left: 15%;
    top: 65%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}

#t_4_index_4{
    position: absolute;
    height: 30%;
    width:  30%;
    left: 55%;
    top: 65%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}

#t_5_index_1{
    height: 30%;
    width:  30%;
    position: absolute;
    left: 15%;
    top: 30%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}

#t_5_index_2{
    position: absolute;
    height: 30%;
    width:  30%;
    left: 55%;
    top: 30%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}

#t_5_index_3{
    height: 30%;
    width:  30%;
    position: absolute;
    left: 15%;
    top: 65%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}

#t_5_index_4{
    position: absolute;
    height: 30%;
    width:  30%;
    left: 55%;
    top: 65%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}

#t_6_index_1{
    height: 30%;
    width:  30%;
    position: absolute;
    left: 15%;
    top: 30%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}

#t_6_index_2{
    position: absolute;
    height: 30%;
    width:  30%;
    left: 55%;
    top: 30%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}

#t_6_index_3{
    height: 30%;
    width:  30%;
    position: absolute;
    left: 15%;
    top: 65%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}

#t_6_index_4{
    position: absolute;
    height: 30%;
    width:  30%;
    left: 55%;
    top: 65%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}

#t_7_index_1{
    height: 30%;
    width:  30%;
    position: absolute;
    left: 15%;
    top: 30%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}

#t_7_index_2{
    position: absolute;
    height: 30%;
    width:  30%;
    left: 55%;
    top: 30%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}

#t_7_index_3{
    height: 30%;
    width:  30%;
    position: absolute;
    left: 15%;
    top: 65%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}

#t_7_index_4{
    position: absolute;
    height: 30%;
    width:  30%;
    left: 55%;
    top: 65%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}

#t_8_index_1{
    height: 30%;
    width:  30%;
    position: absolute;
    left: 15%;
    top: 30%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}

#t_8_index_2{
    position: absolute;
    height: 30%;
    width:  30%;
    left: 55%;
    top: 30%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}

#t_8_index_3{
    height: 30%;
    width:  30%;
    position: absolute;
    left: 15%;
    top: 65%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}

#t_8_index_4{
    position: absolute;
    height: 30%;
    width:  30%;
    left: 55%;
    top: 65%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}

#t_9_index_1{
    height: 30%;
    width:  30%;
    position: absolute;
    left: 15%;
    top: 30%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}

#t_9_index_2{
    position: absolute;
    height: 30%;
    width:  30%;
    left: 55%;
    top: 30%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}

#t_9_index_3{
    height: 30%;
    width:  30%;
    position: absolute;
    left: 15%;
    top: 65%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}

#t_9_index_4{
    position: absolute;
    height: 30%;
    width:  30%;
    left: 55%;
    top: 65%;
    transition-property: all;
    transition-duration: 0.4s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -webkit-transition-property: all;
    -webkit-animation-duration: 0.4s;
    -o-transition-property: all;
    -o-transition-duration: 0.4s;

}
